.header {
  color: var(--mantine-color-primary-7);
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
}

.header__title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 700;
  margin: 0;
}

.header__logo {
  width: 40px;
}

.githubLink {
  font-size: 2rem;
}
