.valueContainer {
  display: flex;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
}

.valueTitle {
  height: 40px;
  padding-inline: var(--mantine-spacing-lg);
  font-weight: 500;
  flex-shrink: 0;
  color: var(--mantine-color-primary-7);
  background-color: var(--mantine-color-primary-0);
}

.valueEditorContainer {
  display: flex;
  overflow: auto;
  height: 100%;
}


.valueEditor {
  height: 100%;
  overflow: auto;
  display: flex;
  flex: 1;

  &>* {
    flex-grow: 1;
  }
}

.valueResult {
  padding-inline: var(--mantine-spacing-sm);
  border-left: 1px solid var(--mantine-color-neutral-2);
  display: block;
  flex: 1;
}
