.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .main {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }

  .rightPanel {
    border-top: 1px solid var(--mantine-color-gray-2);
  }
}

.leftPanel {
  border-right: 1px solid var(--mantine-color-gray-2);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.rightPanel {
  height: 100%;
  overflow: auto;
}

.sectionTitle {
  height: 40px;
  padding-inline: var(--mantine-spacing-lg);
  font-weight: 500;
  color: var(--mantine-color-gray-7);
  flex-shrink: 0;
}

.editor {
  flex-grow: 1;
}

.valuesStack {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  &>* {
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
    overflow-y: auto;
  }
}
