.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100dvh;
  overflow: hidden;
}

.leftPanel {
  border-right: 1px solid var(--mantine-color-gray-2);
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  padding-block: var(--mantine-spacing-sm);
  padding-inline: var(--mantine-spacing-lg);
  font-weight: 500;
  color: var(--mantine-color-gray-7);
  border-bottom: 1px solid var(--mantine-color-gray-2);
}

.editor {
  display: grid;
  flex-grow: 1;
}

.valuesStack {
  padding-block: var(--mantine-spacing-lg);
  padding-inline: var(--mantine-spacing-sm);
}

.valueCards {
  padding-inline: var(--mantine-spacing-sm);
}

.valueResult {
  color: var(--mantine-color-gray-8);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}
